<form action="/Public_Cloud/login/" method="post">
	{% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="Enter your name">
	<label for="your_password">Password: </label>
    <input id="your_password" type="text" name="your_password" value="Enter password">
    <input type="submit" value="Login" id="loginbtn"> 
</form>
<!--<form action="/Public_Cloud/register/" method="post">
<input type="submit" value="Register">
</form> -->