
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/about.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top" id="nav_top">
<h1>About</h1>
<a href="/mypage/info">Info</a>
</nav>
<body>
    <p class="lead">
        Hi I am Rahul Doshi,Computer Science Graduate from BITS-Pilani,Hyderabad Campus.I am an AWS fanatic and a Dev-Ops believer.I work at Shoretel Communications carrying out Proof of Concepts on AWS.I also have worked on Puppet and Docker.
            Head over to info page for some of my achivements and work.
    </p>
    

</body>



