<!-- <table id='filetable' border = '1'>
{% for i in q  %}
   <tr>
   <td>{{i.id}}</td>
   <td>
   {{i.file_name}}
   <button type="button" id='playlink' value = 'Download'  >Download</button>
   <button type="button" id='playfile' value = 'Play' onclick='play({{i.file_name}})'>Play</button>
   </td>
   </tr>
 {% endfor %} 
</table>-->
<form method = "post" action="../upload/" enctype ="multipart/form-data">{% csrf_token %}
         <input type="file" name="files" multiple />
		 <input type = "submit" value="Upload" />
		<!-- <audio id="myaudio1" controls src="http://localhost:8000/polls/play_file/?my_id=108" preload="auto"></audio> -->
</form